<button class="back-button" nz-button routerLink="/products">
    <i nz-icon nzType="left" nzTheme="outline"></i>
    Atras</button>
<h2 nz-typography>Actualizar Producto</h2>

<div *ngIf="loadingProduct;else isProduct">
    <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
</div>

<ng-template #isProduct>
    <form nz-form [formGroup]="productForm" class="login-form" (ngSubmit)="submitForm()" *ngIf="!errorHandling; else isError">
        <nz-form-item>
            <nz-form-control nzErrorTip="Por favor ingresa el nombre del producto">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Nombre del producto</nz-form-label>
                <nz-input-group>
                    <input type="text" nz-input formControlName="name" placeholder="Nombre del producto" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Por favor ingresa la descripcion del producto">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Descripcion del producto</nz-form-label>
                <nz-input-group>
                    <input type="text" nz-input formControlName="description" placeholder="Descripcion del producto" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Por favor ingresa un monto correcto">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Precio del Producto</nz-form-label>
                <nz-input-group>
                    <nz-input-number formControlName="price" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                        [nzFormatter]="formatterDollar" [nzParser]="parserDollar"></nz-input-number>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzSize="large" nzType="primary" type="submit" [disabled]="loading">
            Actualizar Producto
        </button>

    </form>
</ng-template>


<ng-template #isError>
    <nz-alert [nzType]="'error'" nzMessage="Hubo un error al encontrar el producto"></nz-alert>
</ng-template>